<!DOCTYPE html> 
 <html lang="en">
<head>
<meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="style.css">
 <link rel="icon" type="image/x-icon" href="icon.png">
<title>FairyTail </title>
</head>
<style>
    img{
        width: 60%;
        margin: auto;
        display: block;
    }

</style>
<body>
    <div id="aboveall">
  <header>
    <img src="logo.png" id="logo" alt="">
<form action="/signin/search " method="post" id="search">
  <button type="submit" style=" all: initial;"><div class="w3-xlarge"><i class="fa fa-search"></i></div></button>
      <input type="text" name="q" id="searchInput" placeholder="Search...">
</form>
<div class="btns">
    <button id="btn1">Log In<%= %> </button>
    <button id="btn2">Sign Up</button>
  </div>
</header>
<div id="search1"></div>
<h1>Error 404 Not found</h1>
<img src="https://c.tenor.com/RAvo6nJ42VAAAAAC/natsu-natsu-dragneel.gif" alt=""  >

      
  </div>
</section>
</div>
<%-include ('partials/footer') %> 
<script  src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>  